.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
    position:absolute;
    top:10;
    left: 10px;
    background: #cccccc;
  }
  
  .heading {
    color: rebeccapurple;
  }

  a:hover{
    color: #ff00ff 
  }

  a {
      font-size: 10pt; 
      text-shadow: none; 
      margin: 0; 
      color: black;    
   }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }